name: EDLM UI Code CI/CD

on:
  push:
    branches: 
      - dev
  pull_request:
    branches: 
      - dev
    types: [opened, synchronize]

jobs:
  build-test:
    # Kicks off the workflow and prepares Github to run coverage test using a ubuntu-latest container.
    name: Code CI/CD
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v3
        - name: Set Node.js 18.x
          uses: actions/setup-node@v3
          with:
                node-version: 18.x
        - name: Run install
          uses: borales/actions-yarn@v4
          with:
            cmd: install # will run `yarn install` command
        - name: Run build
          uses: borales/actions-yarn@v4
          with:
            cmd: build # will run `yarn build` command
        # - name: Test the app
        #   uses: borales/actions-yarn@v4
        #   with:
        #     cmd: test # will run `yarn test` command
