name: EDLM UI Code CI/CD

on:
  push:
    branches: 
      - merge-xds-ui
  pull_request:
    branches: 
      - merge-xds-ui
    types: [opened, synchronize]

jobs:
  build-test:
    # Kicks off the workflow and prepares Github to run coverage test using a ubuntu-latest container.
    name: Code CI/CD
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v3
        - name: Set Node.js 18.x
          uses: actions/setup-node@v3
          with:
                node-version: 18.x
        - name: Run install
          uses: borales/actions-yarn@v4
          with:
            cmd: install # will run `yarn install` command
        - name: Run build
          uses: borales/actions-yarn@v4
          with:
            cmd: build # will run `yarn build` command
  build-push:
    name: Build Docker Image
    needs: build-test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
      with:
        mask-password: 'true'
    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: ${{ secrets.ECR_REPO }}
        IMAGE_TAG: latest
      run: |
         run: |
          echo "Cloning private repository"
          git clone https://openlxp-host:${{ secrets.ACCESS_TOKEN }}@github.com/OpenLXP/openlxp-private.git
          echo "Private repository cloned successfully"
          echo "Copying .env file from openlxp-private to current working directory"
          cp ./openlxp-private/openlxp-xdsui-dote-env/.env .
          echo "Copied .env file successfully"
          echo "Starting docker build"
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          echo "Pushing image to ECR..."
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
