name: EDLM Portal UI ECR push

on:
  push: 
    branches:
      - dev
  pull_request:
    branches: 
      - dev
    types: [closed]
jobs:   
  build:
    name: Build Docker Image
    # if: github.event.pull_request.merged == true # Ensures the PR is merged before pushing
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
      with:
        mask-password: 'true'
    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: ${{ secrets.ECR_REPO }}
        IMAGE_TAG: latest
        NEXT_PUBLIC_PORTAL_BACKEND_HOST: https://edlmportal-admin.deloitteopenlxp.com/
        NEXT_PUBLIC_XDS_BACKEND: https://dev-xds-admin.deloitteopenlxp.com/
        NEXT_PUBLIC_LDSS_API: https://dev-lrsql.deloitteopenlxp.com/
      run: |
        echo "Starting docker build"
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG . --build-arg NEXT_PUBLIC_PORTAL_BACKEND_HOST=https://edlmportal-admin.deloitteopenlxp.com/ --build-arg NEXT_PUBLIC_XDS_BACKEND=https://dev-xds-admin.deloitteopenlxp.com/ --build-arg NEXT_PUBLIC_LDSS_API=https://dev-lrsql.deloitteopenlxp.com/                    
        echo "Pushing image to ECR..."
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
